# =============== Backend ===============
# Django
DEBUG=True
SECRET_KEY=django-insecure-temp-key
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
SECURE_SSL_REDIRECT=False
FRONTEND_URL=http://localhost:3000

# PostgreSQL
POSTGRES_DB=orcamentos_db
POSTGRES_USER=orcamentos_user
POSTGRES_PASSWORD=orcamentos_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
TZ=America/Sao_Paulo

# URL do Back para o Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
